<div class="col-sm-6">
    <div class="shopping-item">
        <a href="cart.html">Cart - <span class="cart-amunt">${{ totalPrice|number_format(2, '.','') }}</span>
            <i class="fa fa-shopping-cart"></i>
            <span class="product-count">{{ totalItems }}</span></a>
    </div>
</div>
