<div class="col-md-8">
    <div class="user-menu">
        <ul>
            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
            <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i> My Cart</a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i> Checkout</a></li>
            {% if app.user %}
                <li><a href="{{ path('app_logout') }}"><i class="fa fa-sign-in"></i> Logout</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}"><i class="fa fa-sign-out"></i> Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>
